<ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript application/xhtml+xml application/xml application/xml application/x-font-woff
</ifmodule>
<FilesMatch "\.(ico|pdf|flv|jpe?g|png|gif|js|css|swf|xml|woff)$">
	ExpiresActive On
	ExpiresDefault "access plus 1 week"
</FilesMatch>
Options +FollowSymLinks
RewriteEngine on
RewriteBase /

RewriteCond %{DOCUMENT_ROOT}/app/assets/%{REQUEST_URI} -f
RewriteRule ^(.*)$ app/assets/$1 [L]
RewriteCond %{REQUEST_URI} ^/app/assets/(.*)$
RewriteRule ^(.*)$ $1 [L]

RewriteCond %{DOCUMENT_ROOT}/framework/assets/%{REQUEST_URI} -f
RewriteRule ^(.*)$ framework/assets/$1 [L]
RewriteCond %{REQUEST_URI} ^/framework/assets/(.*)$
RewriteRule ^(.*)$ $1 [L]

RewriteCond %{HTTP_HOST} ^json(.*)$
RewriteRule .* index.php?json [QSA,L]

RewriteCond %{QUERY_STRING} ^(.*&)?xml(&.*)?$ [NC]
RewriteRule .* index.php [QSA,L]

RewriteCond %{HTTP_USER_AGENT} ^(.*)Lynx/(.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)Silk(.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)Firefox/[3-5](.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)MSIE\ [1-9](.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)Opera/[1-8](.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)Android(.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)BlackBerry([0-9]+)/(.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)PlayBook([0-9]+)/(.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)Kindle/(.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)Google(.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)msn(.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)MSN(.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)Yahoo(.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)Ask(.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)Bot(.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)Python(.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)Curl(.*)$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)PHP(.*)$ [NC,OR]

RewriteCond %{REMOTE_ADDR} ^209\.85\.224\.([0-9]+)$

RewriteRule .* index.php?html [QSA,L]
RewriteRule .* index.php [QSA,L]
